@model sinema00.Models.Odeme

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Odeme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdemeTuru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdemeTuru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdemeTutari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdemeTutari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bilet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bilet.BiletId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OdemeId" class="btn btn-danger">Edit</a> |
    <a asp-action="Index" class="btn btn-danger">Back to List</a>

</div>
