@model sinema00.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilmAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yonetmen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yonetmen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fotograf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fotograf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FilmId" class="btn btn-danger">Edit</a> |
    <a asp-action="Index" class="btn btn-danger">Back to List</a>

</div>
